<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>

<body>

<!-- <div th:with="ud=${userDetail}"> -->
    <!-- Now `ud` holds the entire userDetail object -->

    <form action="changePassword" method="post">
        <!-- Hidden fields for username and id -->
        
        <input type="hidden" name="id" th:value="${userDetail.id}">
        

        <label for="currentPassword">Current Password</label>
        <input type="password" name="currentPassword" id="currentPassword" required>

        <!-- New password input -->
        <label for="newPassword">New Password</label>
        <input type="password" name="newPassword" id="newPassword" required>

        <!-- Confirm password input -->
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" required>

        <!-- Submit button -->
        <input type="submit" value="Change Password">
    </form>

<!-- </div> -->

<script>
    // validation to check if newPassword and confirmPassword match or not
    document.querySelector('form').addEventListener('submit', function (e) {
        const newPassword = document.getElementById('newPassword').value;
        const confirmPassword = document.getElementById('confirmPassword').value;

        if (newPassword !== confirmPassword) {
            e.preventDefault();  // Prevent form submission
            alert("Passwords do not match!");
        }
    });
</script>

</body>
</html>
